@font-face {
    font-family: 'PF Din Text Comp Pro Medium', sans-serif;
    src: url('../fonts/TextCompProMedium.ttf') format("ttf");
        // url('../fonts/Quicksand-Regular.woff') format("woff"); 
    font-display: swap;
}