html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  // overflow-x: hidden;
  // overflow-y: hidden;
}
a {
  display: inline-block;
  text-decoration: none;
  // color: $text;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: $ff-r;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  // color: $text;
  // background-color: $bg;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
// .container-menu{
// max-width: 1366px;
// margin: 0 auto;
// }
.container {
  max-width: 1190px; 
  // width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}
//   .contant {
//     padding: 120px 0 120px;
//   }

//   button{
//     @include border();
//   }
.search__inner-form {
  max-width: 360px;
  position: relative;
  input {
    display: block;
    width: 100%;
    height: 46px;
    border-radius: 50px;
    border: 1px solid blue;
    font-size: 15px;
    line-height: 30px;
    padding-left: 24px;
    padding-right: 80px;
    outline: none;
    &::placeholder {
      color: red;
    }
    &:hover {
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    }
  }
  button {
    // @include border();
    // position: absolute;
    // right: 0;
    // top: 0;
  }
  .search__inner-button {
    position: relative;
    background-color: transparent;
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 0;
    &::before {
      content: "";
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      right: 0;
      margin: 0 auto;
      top: 0;
      background-image: url(../images/icon/search.png);
    }
  }
}

.title {
  text-align: center;
  font-size: 30px; 
  line-height: 36px;
  color: #5b5b5b;
  padding: 35px 0 19px;
  border-top: 2px solid #dadada;
  margin-top: 25px;
  position: relative;
  z-index: 2;
  &:after {
    content: "";
    position: absolute;
    background-image: url(../images/icon/06.png);
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 68px;
    height: 48px;
    background-color: #fff;
    top: -25px;
    z-index: 3;
  }
}
